<header>
    <div class="header-top">
        <div (click)="ShowLeftbar()" class="header-logo">Show Menu</div>
        <div class="header-search">
            <input type="text" placeholder="search...">
        </div>
        
        <div class="header-utility">
            <div> setting </div>
            <div>
                <p>welecome byron</p>
            </div>
        </div>
    </div>
    <div class="header-right-pop">
        
        <form>
            <div><label>name:</label><input type="text"></div>      
            <div><label>password:</label><input type="password"></div>
            <div class="heeader-login-bt"><button>login</button></div>
        </form>

    </div>

</header>