<header>
    <div class="header-top">
        <div (click)="ShowLeftbar()" class="header-logo">Show Menu</div>
        <div class="header-search">
            <input type="text" placeholder="search...">
        </div>
        
        <div class="header-utility">
            <span class="btn-info">message</span>
            <span>warning</span>
            <span>setting</span>
            <div (click)="ShowLogin()" >  <img style="height:30px;width:30px;" src="assets/img/user_login.jpg"> </div>

        </div>
    </div>
    <div *ngIf="showLogin" class="header-right-pop">
        
        <form>
            <div><label>name:</label><input type="text"></div>      
            <div><label>password:</label><input type="password"></div>
            <div class="heeader-login-bt"><button>login</button></div>
        </form>

    </div>

</header>