<div id="app">
  <app-czhead (showLeftbar)="ShowLeftbar($event)"> </app-czhead>
  
  <aside class="productormenu" *ngIf="show_leftbar"> 
    <app-leftnav  (hide)="ShowLeftbar($event)" ></app-leftnav>
  </aside>  
  <main>
      <div id="leftside" class="d-flex "></div>
      <article >
          <app-breadcrumb></app-breadcrumb>     
          <section>            
            <router-outlet></router-outlet>            
            <ul class="historys">
              <li *ngFor="let item of historys | async; let i=index">
                <span >{{i+1}}.</span> {{item.path}} {{item.timelength}}
     
              </li>
            </ul>
          </section>
      </article>  
  </main>
  <footer class="footer_pg">footer</footer>
</div>



