<div id="app" >
  <header>Header</header>
  <aside class="productormenu"> 
    <app-leftnav></app-leftnav>
  </aside>
  
  <main >
      <aside class="col-3 ">
          <app-cznavbar></app-cznavbar>
      </aside> 
      <div id="leftside" class="d-flex "></div>
      <article >
          <app-breadcrumb></app-breadcrumb>
     
          <section>
            
            <router-outlet></router-outlet>
            
            <ul class="historys">
              <li *ngFor="let item of historys | async; let i=index">
                <span >{{i+1}}.</span> {{item.path}} {{item.timelength}}
                <button style="float: right" (click)="removeCustomer(i)">Remove</button>
              </li>
            </ul>
          </section>

      </article>
  
  </main>
  <footer class="footer_pg">footer</footer>


</div>



