<div class="leftnav"  (click)="HideLeftbar()">
  <div id="header" style="text-align:center;background-color: lightblue;color:white;">
    <span>show/hide</span> 
  </div>
  <div id="menu">
    <ul>
      <li>+Create Resource</li>

      <li>Dashboard</li>
      <li><a [routerLink]="productor">AllProductor</a></li>
      <li><a [routerLink]="resources">AllResource</a></li>
    </ul>
    <span>-------- Favorates -------- </span>
    <ul>
        <li *ngFor="let item of Routes">
          <a [routerLink]="[item.path]">{{ item.data.breadcrumb }}</a>
          <div *ngIf="item.children">
              <ul class="submenu">
                <li *ngFor="let subItem of item.children">
                    <a [routerLink]="[item.path + '/' + subItem.path]">{{subItem.data.breadcrumb}}</a>
                </li>  
            
              </ul>
          </div>
        </li>
      </ul>
  </div>
  <div id="favorate">
    favorate
  </div>
</div>